@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo-white {
    filter: grayscale(100%) brightness(200%);
  }
  .logo-black {
    filter: grayscale(100%);
  }
  .white {
    filter: grayscale(100%) brightness(200%);
  }
  .black {
    filter: grayscale(100%);
  }
  .dim {
    @apply opacity-70;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .container-10x {
    @apply max-w-[1220px] mx-auto px-5;
  }
  .container-9x {
    @apply max-w-[780px] mx-auto px-10;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#94a3b8] rounded-full;
  }
  ::-webkit-scrollbar-track:hover {
    @apply bg-white;
  }
  .green-gradient {
    background: linear-gradient(-45deg, #209077 0%, #1ae28a 100%);
  }
  .red-gradient {
    background: linear-gradient(-45deg, #a91823 0%, #ff3545 100%);
  }
  .dark-blue-gradient {
    background: linear-gradient(-45deg, #931aded4 0%, #1cceead1 100%);
  }
  .light-blue-gradient {
    background: linear-gradient(-45deg, #0c9ed4 0%, #51c9f5 100%);
  }
  .black-gradient {
    background: linear-gradient(-45deg, #151515 0%, #3c3c3c 100%);
  }
  .orange-gradient {
    background: linear-gradient(-45deg, #ea472d 0%, #f18472 100%);
  }
}
