@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border select-none p-0;
  }
}
@layer components {
  .logo-white {
    filter: grayscale(100%) brightness(200%);
  }
  .logo-black {
    filter: grayscale(100%);
  }
  .white {
    filter: grayscale(100%) brightness(200%);
  }
  .black {
    filter: grayscale(100%);
  }
  .dim {
    @apply opacity-70;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .container-10x {
    @apply mx-auto max-w-[1235px] px-10;
  }
  .container-9x {
    @apply mx-auto max-w-[1150px] px-10;
  }
  .container-8x {
    @apply mx-auto max-w-[780px] px-10;
  }
  .panel-element {
    @apply rounded-full px-3 py-1.5 text-sm font-semibold uppercase tracking-normal text-white hover:bg-white hover:text-black;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-[#94a3b8];
  }
  ::-webkit-scrollbar-track:hover {
    @apply bg-white;
  }
  .green-gradient {
    background: linear-gradient(-45deg, #006644 0%, #009966 100%);
  }
  .light-blue-gradient {
    background: linear-gradient(-45deg, #0066cc 0%, #0099cc 100%);
  }
  .black-gradient {
    background: linear-gradient(-45deg, #000000 0%, #333333 100%);
  }
  .purple-gradient {
    background: linear-gradient(-45deg, #660066 0%, #cc99cc 100%);
  }
  .teal-gradient {
    background: linear-gradient(-45deg, #006666 0%, #339999 100%);
  }
  .indigo-gradient {
    background: linear-gradient(-45deg, #330066 0%, #9966cc 100%);
  }
  .dark-gray-gradient {
    background: linear-gradient(-45deg, #2f4f4f 0%, #696969 100%);
  }
  .midnight-gradient {
    background: linear-gradient(-45deg, #191970 0%, #000080 100%);
  }
  .ebony-gradient {
    background: linear-gradient(-45deg, #555d50 0%, #283618 100%);
  }
  .charcoal-gradient {
    background: linear-gradient(-45deg, #36454f 0%, #000000 100%);
  }
  .onyx-gradient {
    background: linear-gradient(-45deg, #0f0f0f 0%, #3e3e3e 100%);
  }
}
